.meuFilme{
    margin-top: 24px;
display: flex;
flex-direction: column;
align-items: center;
}
.meuFilme h1{
    margin-bottom: 14px;
}
.meuFilme span{
    font-size: 18px;
}
.meuFilme ul{
    width: 720px;
}
.meuFilme ul li{
    list-style: none;
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 14px;
}

.meuFilme div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}